$colors: (
    background : linear-gradient(to left, rgb(255, 102, 153),rgb(255, 153, 153),#ffcccc),
    sidebar:  rgb(255, 102, 153),
);
$sizes: (
    fontone: 20px,
    fontzero: 14px,
);
.body {
    position: absolute;
    left: 0;
    top: 0;
    background-image: map-get($colors,background);
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', cursive;
   
   }
  
   .card {
    position: absolute;
    width: 94%;
    height: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ffcccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 20px black;
    display:flex;
    flex-direction: column;
   }
.sidenav---sidenav---_2tBP{
    background-color: map-get($colors,sidebar) !important;
}
.sidenav---collapsed---LQDEv{
   width: fit-content !important;
}
.sidenav---expanded---1KdUL{
   width: 16% !important;
}
.inputDiv{
    width: 75%;
    height: 90%;
 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
  
}
.inputContainer{
   width: 95%;
   height: 10vh;
   position:relative;
   margin-left: 1%;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}
.sidenav---navtext---1AE_f{
    margin-left: 20px;
}
.sidenav---navtext---1AE_f:hover{
   transform:scale(1.2);
   -webkit-transform:scale(1.2);
   -moz-transform:scale(1.2);
   -ms-transform:scale(1.2);
   -o-transform:scale(1.2);
}
.sidenav---navitem---9uL5T{
    width: 64px;
   
}
.graphDiv{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:auto; 
    margin-left: 5%;
    align-items: center;
}
.barDiv{
    width: 50%;
    height:auto;
}
.pieDiv{
    width: 50%;
    height:auto;
    margin-top: -40px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
.amount{
    height: 30px;
    width: 40%;
    background: transparent;
    border:solid;
    margin-top: 10px;
    margin-left: 10px;
    border-color: map-get($colors,sidebar);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size: 1rem;
    box-shadow: 0 0 10px black;
   outline:none;
}
.submit{
    height: 30px;
    width: 90px; 
    border:solid;
    margin-top: 15px;
    margin-left: 10px;
    border-color: map-get($colors,sidebar);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size: 1rem;
    box-shadow: 0 0 10px black;
    outline:none;
}
.hide{
    display:none;
}